body {
  background-color: rgb(1, 5, 22) !important;
}

.loginLabel {
  margin-left: 2rem;
  color: white;
  margin-right: 1.5rem;
}

.loginInput {
  background-color: rgb(210, 210, 210);
  margin-right: 1.5rem;
}

td {
  color: white;
}

tr {
  background-color: rgb(88, 120, 238);
}

tr:nth-child(2n) {
  background-color: rgb(64, 96, 211);
}

